
body {
    font-size: 1em !important;
    color: #000 !important;
    font-family: Arial !important;
    overflow:hidden;
}
#title {
    color: white;
        font-size: 25px;
        padding: 2px;
        padding-left: 10px;
        background-color: rgba(107, 107, 107, 0.89);
        border-radius: 10px;
    }
    #title span {
        font-size: 20px;
    }
#searchbar {
    padding: 3px;
    position: absolute;
    top: 20px;
    right: 30px;
}

    #searchbar input{
        border-style: solid;
        border-color:white;
    }

    #searchbar #search_nodes {
    }

#network {
    margin-left: -10px;
    margin-top:-10px;
}
#timeline {
    position: absolute;
    top: 50%;
}


.controls {
    background: none;/* #dbdbdb;*/
}

.controls {
    position:absolute;
    bottom: 10px;
}
#links{
    display:none;
}

form {
    margin-top:0px;
}
/*TAGS*/
#tags {
    text-align:center;
    margin-top:-20px;
}
.tag {
    width: 10px;
    font-weight: bold;
    color: grey;
    background: none !important;
    border: none;
    transform: rotate(45deg);
}

/*INFOBOX*/
#infotitle {
    display: none;
}

#infobox {
    clip-path: polygon(50% 5%, 0% 100%, 100% 100%);
    position: absolute;
    top: 1000px;
    left: 0%;
    background-color: rgba(134, 209, 183, 0.89); /* rgba(107, 107, 107, 0.89); #86d1b7;*/
    display: none;
    width: 100%;
    height: 200%;
    font-weight: bold;
    font-size: small;
    border-radius: 50px;
}

    #infobox img {
        width: 200px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
    }

    #infobox tr{
    }
    #infobox > * {
        margin-top: 10px;
        position: relative;
    }
    #infobox form {
        margin-top: -5px;
        position: absolute;
        left: 50%;
    }

#abb {
    border-radius: 50%;
}

    #abb:hover {
        border-radius: 0;
    }

#text1 {
    font-weight: normal;
    height: 200px;
    overflow: auto;
}

#subtitles {
}

    #subtitles button {
        font-weight: bold;
        background: none !important;
        border: none;
        /*optional*/
        font-family: arial, sans-serif;
        /*input has OS specific font-family*/
        cursor: pointer;
    }
    #subtitles div button {
        margin-left:10px;
        font-weight: normal;
    }

        #subtitles button:hover {
            text-decoration: underline;
        }


/*OTHER*/


/*TESTS*/
.tooltip:hover span {
    display: block;
    position: fixed;
    overflow: hidden;
}
