body {
    font-size: 1em !important;
    color: #000 !important;
    font-family: Arial !important;
}
h1{
    margin-left: 0px;
}
canvas {
    margin-left: 20px;
}



.controls {
    width: 1200px;
    background: none;/* #dbdbdb;*/
}

.controls button{
    position: center;
}
#links{
    display:none;
}

form {
    margin-top:0px;
}
/*INFOBOX*/
#infotitle {
    display: none;
}

#infobox {
    top: 50px;
    position: absolute;
    background-color:rgba(107, 107, 107, 0.89); /*#86d1b7;*/
    display: none;
    width: 1200px;
    font-weight: bold;
    font-size: small;
    border-radius: 100px;
}

    #infobox img {
        width: 200px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
    }

#abb {
    border-radius: 50%;
}

    #abb:hover {
        border-radius: 0;
    }

#text1 {
    font-weight: normal;
    height: 200px;
    overflow: auto;
}

#subtitles {
}

    #subtitles button {
        font-weight: bold;
        background: none !important;
        border: none;
        /*optional*/
        font-family: arial, sans-serif;
        /*input has OS specific font-family*/
        cursor: pointer;
    }
    #subtitles div button {
        margin-left:10px;
        font-weight: normal;
    }

        #subtitles button:hover {
            text-decoration: underline;
        }


/*OTHER*/
#searchbar{
    position: absolute;
    top: 140px;
    left: 20px;
}


/*TESTS*/
.tooltip:hover span {
    display: block;
    position: fixed;
    overflow: hidden;
}
